@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}


#hero{
    height: 150px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero div{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero > div input{
    border: none;

}

#hero > div button{
    border: none;
    background-color: black;
    color: white;
}


#my-product-container{
    margin-top: 30px;
}


#my-product-container > div > div.card{
    height: 430px;
    justify-content: space-between;
    border: none;
    box-shadow: 2px 2px 15px #e3e3e4;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}

#my-product-container > div img {
    height: 240px;
    object-fit: contain;
}


#my-product-container > div > div.card >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#my-product-container > div > div.card >a.btn{
    padding: 0;
}

/* DETAILS PAGE */

#container-details{
    margin: 60px 0;
}

#container-details div div.col:first-child{
    display: flex;
    justify-content: center;
}


#container-details div div.col:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#container-details div div.col:last-child div:last-child{
    display: flex;
    gap: 10px;

}