@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}



#box-create-obj div.row:first-child{
    align-items: center;
}

/* #list-object{
    border: none;
} */

#table-title thead{
    border-style: none !important;
}